

/*******   TAGS SELECTOR     ************/

body{
    font-family: 'Roboto Mono', monospace;
}
h2{
    font-family: 'Roboto Mono', monospace;
}
h6{
    font-family: 'Roboto Mono', monospace;
    text-align:center ;
}
p{
    font-family: 'Barlow', sans-serif;
}



/*******   TAGS  CLASS    ************/


.atelier{
    padding: 80px 50px 50px 80px;
}
.bouton{
        border:none;
        padding:6px 20px 6px 20px;
        border-radius:10px;
        background: #af409a;
        font:bold 13px Arial;
        color:#fff;
        box-shadow: blueviolet;
}
.conjugal{
    padding: 80px 5px 50px 80px;
}
.contact{  
    background-color: #f8f9fa;
    text-align: center;
    padding: 30px 0px 10px 0px;
    font-family: 'Staatliches', cursive;
}
.copy{
    padding-top: 30px;
}

.nav-link{
    font-family: 'Roboto Mono', monospace;
}
.logo{
    width:5%;
}

.right{
    float: right;
}
.left{
    padding-bottom: 30px;
    float:left;
}
.presentationMe{
    padding: 80px 5px 50px 80px;
}
.parental{
    padding: 80px 50px 50px 80px;
}

.r{
    text-align: right;
}
.rs{
    margin-right: 90px;
    margin-left: 90px;  
}

/* Bouton */

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	
}
.myButton:active {
	position:relative;
	top:1px;
}


